@charset "utf-8";

ul{
  list-style: none;
}

.swiper-pagination{
    position: absolute;
    bottom: 0px !important;
}

.swiper-pagination-bullet {
    background: #868686 !important;
  }
  .swiper-pagination-bullet-active {
    background: #A3EBCE !important;
    width: 28px !important;
    transition: width 0.5s; 
    border-radius: 4px !important;
  }

  .ck-editor__editable_inline {
    min-height: 500px;
    img{
      width: 300px;
    }
  }
   

