@charset "utf-8";

ul{
  list-style: none;
}

.swiper-pagination{
    position: absolute;
    bottom: 0px !important;
}

.swiper-pagination-bullet {
    background: #868686 !important;
  }
  .swiper-pagination-bullet-active {
    background: #A3EBCE !important;
    width: 28px !important;
    transition: width 0.5s; 
    border-radius: 4px !important;
  }

  .ck-editor__editable_inline {
    min-height: 500px;
  }
  

.textarea{
  border: 1px solid #ddd;
  width: 500px;
  height: 150px;
  font-size: 1rem;
  border-radius: 10px;
  /* padding-inline-start: 10px; */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 45px;
  @media screen and (max-width: 600px) {
    width: 80%;
  }
}

.textarea:focus {
  border-color: #2ed090;
  outline: none;
}

